/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0;
    color: white;
    background: #111111;
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/*nav-bar styling*/
@import url('https://fonts.googleapis.com/css?family=Roboto');



/*Option */
#nav-colors, #font-colors, #edges {
    margin-top: 10px;
}

.btn-primary {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border: 2px solid #111111;
    transition: 0.2s ease;
    /*&:hover*/
}

.table {
    color: white;
}

#pink {
    background: linear-gradient(to right, #ff5858, #f857a6);
}

#red {
    background: linear-gradient(to right, #d31027, #ea384d);
}

#purple {
    background: linear-gradient(to right, #41295a, #2f0743);
}

#blue {
    background: linear-gradient(to right, #396afc, #2948ff);
}

#green {
    background: linear-gradient(to right, #add100, #7b920a);
}

#yellow {
    background: linear-gradient(to right, #f7971e, #ffd200);
}

#orange {
    background: linear-gradient(to right, #e43a15, #e65245);
}


#white {
    background: white;
}

#black {
    background: black;
}

#rounded, #square {
    color: white;
}


/*Navbar*/
.navbar {
    border: 0;
    border-radius: 0;
    background: linear-gradient(to right, #ff5858, #f857a6);
}

.nav li > a, .navbar-brand {
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.link {
    width: 100%;
    padding: 0 5px 0 5px;
    visibility: visible;
    font-size: 14px;
}

.link {
    width: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s ease-in-out;
    visibility: visible;
    font-size: 0px;
}

span {
    color: white;
}

.navbar-toggle {
    padding-right: 0;
}

.icon-bar {
    color: black;
}


.navbar-collapse {
    display: none;
}

button {
    background: transparent;
}

    button[type=submit] {
        padding-right: 0;
    }

span {
    transition: 0.3s ease-in-out;
}

span {
    transform: scale(1.3) rotate(90deg);
}


form {
    padding: 0;
}

.form-control {
    border: 0;
    border-radius: 0;
    color: black;
    font-weight: bold;
    background: rgba(255,255,255,0.7);
    transition: 0.2s ease-in-out;
}
/*Dropdown*/
.fa-caret-down {
    padding-left: 3px;
    font-size: 18px;
    transition: 0.4s ease;
}

.open {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}

.link {
    width: 100%;
    visibility: visible;
    font-size: 14px;
    padding: 0 5px 0 5px;
}

.dropdown-toggle {
    font-size: 14px;
}

.fa-caret-down {
    transform: rotate(180deg);
}

.dropdown-menu {
    min-width: 0px !important;
    width: 100%;
    background: #ff5858;
    text-align: center;
    border-radius: 0;
}

li, a {
    color: white;
    font-size: 14px;
    line-height: 30px;
}

a {
    padding: 0 15px 0 15px;
}

// Small Devices
@media(max-width: 769px) {
}

.navbar, .link {
    padding-left: 10px;
    visibility: visible;
    width: 100%;
    font-size: 14px;
}

.navbar-brand, .link {
    visibility: visible;
}


.dropdown, .dropdown-menu {
    text-align: left !important;
}


button[type=submit] {
    width: 50%;
    float: left;
}

.navbar-form {
    border: 0;
}

.form-group {
    padding: 0;
    margin: 0;
}

input {
    width: 50%;
    float: left
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-top: 5em;
    color: white;
    background: #111111;
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/*nav-bar styling*/
@import url('https://fonts.googleapis.com/css?family=Roboto');



/*Option */
#nav-colors, #font-colors, #edges {
    margin-top: 10px;
}

.btn-primary {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    border: 2px solid #111111;
    transition: 0.2s ease;
    /*&:hover*/
}

.table {
    color: white;
}

#pink {
    background: linear-gradient(to right, #ff5858, #f857a6);
}

#red {
    background: linear-gradient(to right, #d31027, #ea384d);
}

#purple {
    background: linear-gradient(to right, #41295a, #2f0743);
}

#blue {
    background: linear-gradient(to right, #396afc, #2948ff);
}

#green {
    background: linear-gradient(to right, #add100, #7b920a);
}

#yellow {
    background: linear-gradient(to right, #f7971e, #ffd200);
}

#orange {
    background: linear-gradient(to right, #e43a15, #e65245);
}

#white {
    background: white;
}

#black {
    background: black;
}


#rounded, #square {
    color: white;
}


/*Navbar*/
.navbar {
    border: 0;
    border-radius: 0;
    background: linear-gradient(to right, #ff5858, #f857a6);
}

.nav li > a, .navbar-brand {
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.link {
    width: 100%;
    padding: 0 5px 0 5px;
    visibility: visible;
    font-size: 14px;
}

.link {
    width: 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s ease-in-out;
    visibility: visible;
    font-size: 0px;
}

span {
    color: white;
}

.navbar-toggle {
    padding-right: 0;
}

.icon-bar {
    color: black;
}


.navbar-collapse {
    display: none;
}

button {
    background: transparent;
}

    button[type=submit] {
        padding-right: 0;
    }

span {
    transition: 0.3s ease-in-out;
}

span {
    transform: scale(1.3) rotate(90deg);
}


form {
    padding: 0;
}

.form-control {
    border: 0;
    border-radius: 0;
    color: black;
    font-weight: bold;
    background: rgba(255,255,255,0.7);
    transition: 0.2s ease-in-out;
}
/*Dropdown*/
.fa-caret-down {
    padding-left: 3px;
    font-size: 18px;
    transition: 0.4s ease;
}

.open {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}

.link {
    width: 100%;
    visibility: visible;
    font-size: 14px;
    padding: 0 5px 0 5px;
}

.dropdown-toggle {
    font-size: 14px;
}

.fa-caret-down {
    transform: rotate(180deg);
}

.dropdown-menu {
    min-width: 0px !important;
    width: 100%;
    background: #ff5858;
    text-align: center;
    border-radius: 0;
}

li, a {
    color: white;
    font-size: 14px;
    line-height: 30px;
}

a {
    padding: 0 15px 0 15px;
}

/* Small Devices*/
@media(max-width: 769px) {
}

.navbar, .link {
    padding-left: 10px;
    visibility: visible;
    width: 100%;
    font-size: 14px;
}

.navbar-brand, .link {
    visibility: visible;
}


.dropdown, .dropdown-menu {
    text-align: left !important;
}


button[type=submit] {
    width: 50%;
    float: left;
}

.navbar-form {
    border: 0;
}

.form-group {
    padding: 0;
    margin: 0;
}

input {
    width: 50%;
    float: left
}