@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor http 
@inject JmesJemsSite.Data.ApplicationDbContext db

@*@{ 
    int? userId = sessionData.HttpContext.Session.GetInt32("UserId");
    string username = null;
    if (userId.HasValue)
    {
        string userNameFromSession =
            sessionData.HttpContext.Session.GetString("Username");

        if (userNameFromSession == null)
        {
            username = await (from u in db.UserAccounts
                              where u.UserId == userId
                              select u.Username).SingleOrDefaultAsync();
            sessionData.HttpContext.Session.SetString("Username", username);
        }
    }
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JmesJems</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <!-- Options -->
        <div id="nav-colors">
            Navbar
            <button id="pink" class="btn"></button>
            <button id="red" class="btn"></button>
            <button id="purple" class="btn"></button>
            <button id="blue" class="btn"></button>
            <button id="green" class="btn"></button>
            <button id="yellow" class="btn"></button>
            <button id="orange" class="btn"></button>
        </div>
        <div id="font-colors">
            Font
            <button id="white" class="btn"></button>
            <button id="black" class="btn"></button>
        </div>
        <div id="edges">
            Edges
            <button id="rounded" class="btn">Rounded</button>
            <button id="square" class="btn">Square</button>
        </div>
        <nav class="navbar">
            <div class="container-fluid">
                <!-- Nav Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <span class="fa fa-home"></span>
                        <span class="link"> Home</span>
                    </a>
                </div>
                <div>
                    <a class="nav-link text-dark" asp-controller="Cart" asp-action="Summary">
                        @{
                            int total = @CookieHelper.GetTotalCartProducts(http);
                         }
                         @if (total == 0)
                         {
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                            </svg>
                         }
                         else
                         {
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-cart-x-fill" viewBox="0 0 16 16">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646L8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z" />
                            </svg>
                            @total;
                         }
                    </a>
                </div>
                <div>
                    <partial name="_LoginPartial" />
                </div>
                <!-- Nav Collapse -->
                <div class="navbar-collapse collapse" id="collapse-1">
                    <!-- Nav Left -->
                    <ul class="nav navbar-nav">
                        <!-- Products -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-tags"></span><span class="link"> Products</span> <span class="fa fa-caret-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Jewelry" asp-action="Jewelry"><span class="fa fa-tag"></span> Jewelry</a></li>
                                <li><a asp-controller="Artwork" asp-action="Artwork"><span class="fa fa-tag"></span> ArtWork</a></li>
                            </ul>
                        </li>
                        <!-- About -->
                        <li><a href="#"><span class="fa fa-info-circle"></span><span class="link"> About</span></a></li>
                        <!-- Contact -->
                        <li><a href="#"><span class="fa fa-phone"></span><span class="link"> Contact</span></a></li>
                    </ul>
                    <!-- Nav Right -->
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn"><span class="fa fa-search"></span></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - JmesJems - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--<script src="~/js/site.js" asp-append-version="true"></script>-->
    <script src="~/js/Home.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
